@model List<Zorro.Dal.Models.ChatMessage>

<h1>Chat</h1>

<div class="container card">
    <div class="row">&nbsp;</div>
    <div class="row">
        <input type="hidden" value="@ViewBag.UserName" id="myUser" />
        <div class="col-2">User</div>
        <div class="col-4"><input type="email" id="userInput" placeholder="input email address"/></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" placeholder = "input message" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList">
            @foreach (var message in Model)
            {
                <li>@message.Sender.NormalizedEmail.ToLower() sent @message.Message</li>
            }
        </ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<style>
    .col-6 ul li{
        margin: 2vh;
        list-style:none;
        padding: 2vh;
        background-color: white;
        border: 0.5px solid white;
        border-radius: 10px;
      
    }

    .col-6{
        margin-bottom: 10px;
    }

    #sendButton{
        background-color:#5EBEC4;
        border: none;
        padding: 1vh;
        color: white;
        border-radius: 5px;
        transition: 0.5s all ease-in-out;
    }

    #sendButton:hover{
        background-color: #1A2238
    }
</style>