html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* layout page css */

/* image in nav bar */
#nav-logo{
    max-width: 25%;
}

/* to overide default style*/
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: -30vh;
}

.spacer {
height: 30px;
}

/*Home view styles*/

#homeview-img {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

#home-container{
    text-align: center;
}