/** site colours 4/4/22
    #FFFFFF - white
    #5EBEC4 - blue (buttons)
    #EFF3F8 - pale blue/whitish tinge
    #F4DB7D - mustard/yellow
    #FF6A3D - burnt orange (buttons)/ contrast
    #1A2238 - dark blue

*/

/* heading font*/
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Saira+Semi+Condensed:wght@300;400&display=swap" rel="stylesheet">
/*writing font */
:root {
    --headings-font-family: 'Saira Semi Condensed', sans-serif;
    --body-font-family: 'Darker Grotesque', sans-serif;
    --color-dark-blue: #213440;
}

html, body, nav {
    font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #213440;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFF3F8;
}

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
}

h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.bodytext {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;
}



/* layout page css */

/* image in nav bar */
#nav-logo {
    max-width: 40%;
}

/* to overide default style*/
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 150px;
    margin-left: 25px;
    color: #FFFFFF;
}

#navbaractive {
    color: #FF6A3D !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.spacer {
    height: 30px;
}

.spacer_hardline {
    margin-top:5px;
    margin-bottom:5px;
    height:2px;
    border-bottom: 2px solid grey;
}

/*Home view styles*/

#homeview-img {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

#home-container {
    text-align: center;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    max-width: 1250px;
}

/*** navbar styles
    *********************
    *********************
*/

.navbar, .nav-link {
    background-color: #1A2238 !important;
    font-size: 2.4vh;
    /*font-family: 'Kanit', sans-serif;*/
    font-weight: 500;
}

.nav-link-marg {
    margin: 10px 0px 0px 0px;
}

.pretty-underline-animation {
    display: inline-block;
    position: relative;
    color: #FF6A3D;
}

    .pretty-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #FF6A3D;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .pretty-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

/**nav link profile page
    ***********
    ************/
.nav-link-prof {
    background-color: #FFFFFF;
    font-size: 1.00rem;
    padding-bottom: 0.5vh;
    padding-top: 0.7vh;
    margin: 0.7vh;
    color: #FF6A3D;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}

    .nav-link-prof:hover {
        color: #FFFFFF !important;
        border-radius: 3px;
        text-decoration: none;
        background-color: #1A2238;
    }

.left-aligned-nav {
    text-align: left;
}

/** button styling 
    **************
    ***************/

#update-profile-button,
#change-email-button,
#submit-newpwd,
#submit-newpwd-btn {
    background-color: #1A2238 !important;
    border: none;
    transition: ease-in-out 0.3s all;
}

    #update-profile-button:hover,
    #change-email-button :hover,
    #submit-newpwd :hover,
    #submit-newpwd-btn :hover{
        background-color: #e43603 !important;
    }
    .btn-dark, #update-profile-button {
        transition: all ease-in-out 0.5s;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        height: 40px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    .btn-dark :hover::after,
    #update-profile-button  :hover::after{
        background-color: #FF6A3D;
    }

    .btn-dark:hover,
    #update-profile-button :hover {
        background-color: #1A2238;
    }

.btn-1 {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 5px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 400% 100%;
    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.btn-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 15px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 400% 100%;
    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-hover:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus {
        outline: none;
    }

    .btn-hover.ff6a3d {
        background-image: linear-gradient(to right, #ff6a3d, #e43603, #fa7199, #e85a19);
    }

.navbar-toggler {
    background-color: #ff6a3d;
}

.content-width {
    width: 85%;
}

/** Form Styling 
    **************
    ***************/
.inputbox {
    background-color: #fff;
    padding: 25px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 16px
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table, th, td {
    /* MS : I removed it for now as lent a dizzying feel and also 
       is not aligning with table
       border: 1px solid;*/
}

/** nav identity buttons */
.nav-page-identity {
    text-decoration: none;
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
}

    .nav-page-identity:hover {
        text-decoration: none;
        color: #FFFFFF;
    }

.list-group-item {
    background-color: #EFF3F8 !important;
}

.containerCC {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCC input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmarkCC {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: darkgray;
}

/* On mouse-over, add a grey background color */
.containerCC:hover input ~ .checkmarkCC {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCC input:checked ~ .checkmarkCC {
    background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkCC:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCC input:checked ~ .checkmarkCC:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCC .checkmarkCC:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}