/** site colours 4/4/22
    #FFFFFF - white
    #5EBEC4 - blue (buttons)
    #EFF3F8 - pale blue/whitish tinge
    #F4DB7D - mustard/yellow
    #FF6A3D - burnt orange (buttons)/ contrast
    #1A2238 - dark blue

*/

/* heading font*/
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Saira+Semi+Condensed:wght@300;400&display=swap" rel="stylesheet" >
/*writing font */
:root {
    --headings-font-family: 'Saira Semi Condensed', sans-serif;
    --body-font-family: 'Darker Grotesque', sans-serif;
    --color-dark-blue: #213440;
}

html, body, nav {
    font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #213440;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFF3F8;
}

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
   
}

h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
 
}



/* layout page css */

/* image in nav bar */
#nav-logo{
    max-width: 40%;
}

/* to overide default style*/
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 150px;
    margin-left: 25px;
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.spacer {
    height: 30px;
}

/*Home view styles*/

#homeview-img {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

#home-container{
    text-align: center;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
max-width:1250px;
}

/*** navbar styles
    *********************
    *********************
*/

.navbar, .nav-link {
    background-color: #1A2238 !important;
    font-size: 2.4vh;

    /*font-family: 'Kanit', sans-serif;*/
    font-weight: 500;
}

.nav-link-marg {
margin:10px 0px 0px 0px;
}

.pretty-underline-animation {
    display: inline-block;
    position: relative;
    color: #FF6A3D;
}

    .pretty-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #FF6A3D;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
        .pretty-underline-animation:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

/**nav link profile page
    ***********
    ************/
.nav-link-prof {
    background-color: #FFFFFF;
    font-size: 1.00rem;
    color: #FF6A3D;
    transition: all ease-in-out 0.3s;
}

    .nav-link-prof:hover {
        color: #1A2238 !important;
        text-decoration: none;
        background-color: #FF6A3D;
    }

.left-aligned-nav{
    text-align: left;
}

/** button styling 
    **************
    ***************/
.btn-dark{
    transition: all ease-in-out 0.5s;
}
.btn-dark :hover::after {
    background-color: #FF6A3D;
}

.btn-logout {
    background-color: #FF6A3D !important;
    border: 2px solid green;  
}

.btn-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 15px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 400% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

    .btn-hover.ff6a3d {
        background-image: linear-gradient(to right, #ff6a3d, #e43603, #fa7199, #e85a19);
        //box-shadow: 0 2px 7px 0 rgba(229, 66, 10, 0.75);
    }

    .btn-hover.5ebec4 {
        background-image: linear-gradient(to right, #5ebec4, #e43603, #fa7199, #e85a19);
        //box-shadow: 0 2px 7px 0 rgba(229, 66, 10, 0.75);
    }

.navbar-toggler {
    background-color: #ff6a3d;
}

.content-width {
    width:85%;
}

/** Form Styling 
    **************
    ***************/
.inputbox {
    background-color: #fff;
    padding: 25px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 16px
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table, th, td {
   /* MS : I removed it for now as lent a dizzying feel and also 
       is not aligning with table
       border: 1px solid;*/
}