@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Admin Portal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Admin </p>
        <a class="nav-link" style="margin: 0px 10px 0px 10px;"asp-area="" asp-controller="User" asp-action="Index">Admin Portal Link</a>
                  

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
