@using Zorro.WebApplication.ViewModels
@model Zorro.WebApplication.ViewModels.BpayRequestViewModel

@{
    ViewData["Title"] = "Bpay Result";
}
    <div class="card">
        <h5 class="card-header">BPAY Successful</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">Receipt No:</div><div class="col">1234567</div>
            </div>
            <div class = "row">
                <div class = "col">Bill Payee:</div><div class = "col">@Model.BillPayID</div>
            </div>
            <div class="row">
                <div class="col">Amount:</div><div class="col">$@Model.Amount</div>
            </div>
            <div class="row">
                <div class="col">Comment:</div><div class="col">@Model.Description</div>
            </div>
        </div>
    </div>

<div>
  <button type="button" class="p-2 btn btn-dark"onclick="location.href='@Url.Action("Dashboard", "Home")'">Return to Dashboard</button>
</div>