@model Zorro.WebApplication.Dtos.DepositRequestDto

@{
    ViewData["Title"] = "CreateDeposit";
}
<div class="center-block" style="display:flex;justify-content:center;" >
<div class="content-width">
<div class="card">
  <h5 class="card-header">Deposit Money</h5>
  <div class="card-body">
      <div>
          <h5>Your credit card on file will be automatically charged when you deposit into your account</h5>
           <h6>Please input your credit card details through your profile page (link below)</h6>
                <a  class="nav-link-prof h5" style="margin:1px;padding2px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Credit Card details</a> 
      </div>
      <form asp-action="View" method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="row mb-3">
           <label asp-for="Amount" class="form-label">Amount</label>
            <div class="input-group">
                <input asp-for="Amount" type="text" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Description" class="control-label">Description</label>
            <div class="input-group">
                <input asp-for="Description" type="text" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Dashboard", "Home")'">Cancel</button>
            <input type="submit" class="btn btn-dark" value="Deposit"/>
      </form>
  </div>
  </div>
</div>
</div>
