@model Zorro.WebApplication.Dtos.TransferRequestDto

@{
    ViewData["Title"] = "Transfer";
}

<div class="card">
  <h5 class="card-header">Transfer</h5>
  <div class="card-body">
    <form asp-action="CreateTransfer" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-3">
        <label asp-for="RecipientWallet" class="form-label">Recipient</label>
        <div class="input-group">
            <input asp-for="RecipientWallet" type="text" class="form-control" id="billerInput">
            <button class="btn btn-outline-secondary" type="button" id="billerInput">Search</button>
        </div>
    </div>

    <div class="mb-3">
      <label asp-for="Description" class="form-label"></label>
      <input type="text" class="form-control" asp-for="Description"/>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label asp-for="Amount" class="form-label">Amount (maximum $10,000)</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input asp-for="Amount" type="number" class="form-control"/>
            </div>
        </div>
    </div>
    
    <input type="submit" class="btn btn-dark" value="Pay"/>
</form>
  </div>
</div>


