@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron">
  <h1 class="display-4">Success</h1>
  <p class="lead">Your deposit was successful</p>
  <hr class="my-4">
  <p>Zorro. Quick. Secure. Hassle Free</p>
  <p class="lead">
    <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("HomeView", "Home")'">Dashboard</button>
  </p>
</div>