@using Zorro.WebApplication.ViewModels
@model Zorro.WebApplication.ViewModels.TransferResultViewModel

@{
    ViewData["Title"] = "Transfer Result";
}
    <div class="card">
        <h5 class="card-header">Transfer Successful</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">Transaction ID: </div><div class="col">@Model.TransactionID</div>
            </div>
            <div class="row">
                <div class="col">Recipient: </div><div class="col">@Model.RecipientDisplayName</div>
            </div>
            <div class="row">
                <div class="col">Amount: </div><div class="col">$@Model.Amount</div>
            </div>
            <div class="row">
                <div class="col">Comment: </div><div class="col">@Model.Comment</div>
            </div>
        </div>
    </div>

<div>
  <button type="button" class="p-2 btn btn-dark"onclick="location.href='@Url.Action("Dashboard", "Home")'">Return to Dashboard</button>
</div>