@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="spacer"></div>
<div class="row" style="margin-top:10%;">
    <div class="center-block" style="display:flex;justify-content:center;align-items:center;" >
        <div class="inputbox">
        <section>
<h2 style="text-align:center">Email Confirmation</h2>
<div class="spacer"></div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</section>
</div>
</div>
</div>
