@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="spacer"></div>
<div class="row" style="margin-top:10%;">
    <div class="center-block" style="display:flex;justify-content:center;align-items:center;" >
        <div class="inputbox">
        <section>
            
<h2 style="text-align:center">Forgot password confirmation</h2>
<div class="spacer"></div>
<p class="bodytext" style="text-align:center">
    Please check your email to reset your password.
</p>

</section>
</div>
</div>
</div>

