@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="spacer"></div>
<div class="row" style="margin-top:10%;">
    <div class="center-block" style="display:flex;justify-content:center;align-items:center;" >
        <div class="inputbox">
        <section>
            <form id="account" method="post">
                <h2>Login to your Zorro e-Wallet!</h2>
                <p style="padding-left:15px;"> Dont have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Signup Today</a> </p>
                <div class="spacer"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin-bottom:15px;">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-bottom:15px;">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" style="width:50%;float:left;">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div style="width:50%;float:right">
                    <button id="login-submit" type="submit" class="w-75 btn btn-lg btn-primary" style="float:right;" >Log in</button>
                </div>
                </div>
                
                
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                      
                    </p>
                </div>
            </form>
        </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
