@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="spacer"></div>
<div class="row" style="margin-top:10%;">
    <div class="center-block" style="display:flex;justify-content:center;align-items:center;" >
        <div class="inputbox">
        <section>
            
<h2 style="text-align:center">Registration Recieved</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
        <div class="spacer"></div>
<p class="bodytext" style="text-align:center">
        <br/> Please confirm your account before logging in. <br/> An email has been sent to your registration email. 
</p>
    }
}
</section>
</div>
</div>
</div>

