
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Portal</h1>

 <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "User")'">Create New User</button>
                   

