@model Zorro.WebApplication.Models.Shops

<div class="spacer"></div>
    <div class="center-block" style="display:flex;justify-content:center;" >
        <div class="content-width">
            
        <h1>Shop @Html.DisplayFor(model => model.ShopName)</h1>

        <h4>Your Cart: </h4>

        <table>
          <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>Sample Item A</td>
            <td>5</td>
            <td>$45</td>
          </tr>
          <tr>
            <td>Sample Item B</td>
            <td>1</td>
            <td>$250</td>
          </tr>
          <tr>
            <td>Sample Item C</td>
            <td>16</td>
            <td>$66.65</td>
          </tr>
        </table>

       <h4>Total Cost: $364.65</h4>

       <h3>Payment Methods</h3>

       <a class="p-2 btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Zorro Wallet</a>
@*       <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("ShopLogin", "Shop")'">Credit Card</button>
       <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("ShopLogin", "Shop")'">Apple Pay</button>
       <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("ShopLogin", "Shop")'">Google Pay</button>*@

    </div>
</div>