@{
    ViewData["Title"] = "HomeView";
}

<div class="spacer"></div>
<div id = "home-container">
    <div class="row">
     <div class="col-md-6 col-md-offset-2">
            <section>
                <h1>Whats Zorro?&trade;</h1>
                
            </section>
    
    </div>
 
        <div class="col-md-6 col-md-offset-4">
            
            <section><img id = "homeview-img" src = "~/images/zorro3-NobackGround-All.png" />
                <br>
                <sub>Replace Logo With Pretty Image</sub>
                </section>
    
    </div>
    </div>
</div>