@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Zorro!</h1>
  <p class="lead">Transfer money and shop with ease</p>
  <hr class="my-4">
  <p>Quick. Secure. Hassle Free</p>
  <p class="lead">
    <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("HomeView", "Home")'">Learn more</button>
  </p>
</div>