@{
    ViewData["Title"] = "Become an Ecommerce Partner";
}
<h1>@ViewData["Title"]</h1>

<p>Information about becoming an Ecommerce Partner with our company</p>




<div id="home-container">
    <div class="inputbox">
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <div class="jumbotron">
                        <div class="spacer"></div>
                        <h1 class="display-4">Welcome to Zorro&trade for Merchants;</h1>
                        <p class="lead">Create your account</p>
                        <hr class="my-4">
                        <p class="bodytext" style="margin-left:10%;text-align:left;">To create a Zorro for Merchants account, follow the steps below: <br /> <br /> 

<ul class="list list--no-margin">
<li><p>Sign up for Zorro for Merchants.</p></li>
<li><p>Follow the on-screen prompts to enter your business information into the form.</p></li>
<li><p>Verify your bank details</p></li>
<li><p>Zorro will verify your details and approve your merchant profile.</p></li>
</ul> 
</p>
                        <p class="lead">
                            <div class="spacer"></div>
                            <button type="button" class="p-2 btn btn-dark" style="width:auto !important; padding-left:15px !important; padding-right:15px !important;" onclick="location.href='/Identity/Account/Register'">Sign Up as an eCommerce Partner</button>
                        </p>
                    </div>

                </section>

            </div>

            <div class="col-md-6 col-md-offset-4">


                <div class="spacer"></div>
                <div style="text-align:center;width:100%;height:100%;"><span style="display:inline-block;height:100%;vertical-align:middle;"></span><img style="vertical-align:middle !important;max-width:75% !important;" height="auto" id="homeview-img" alt="https://www.vecteezy.com/free-photos Free Stock photos by Vecteezy" src="~/images/StockImages/stockimage-cc-woman.jfif" /></div>

            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div id="home-container">
    <div class="inputbox">
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <div class="jumbotron">
                        <div class="spacer"></div>
                        <p class="lead">Verify your bank details </p>
                        <hr class="my-4">
                        <p class="bodytext" style="margin-left:10%;text-align:left;">After you provide your bussiness bank account details, Zorro will verify the bank account is linked to your business by contacting your bank. <br /> <br /> 

<ul class="list list--no-margin">
<li><p>If details are correct the bank details will be verified and sent to the Zorro Administration team for final account approval</p></li>
<li><p>Zorro will verify your details and approve your merchant profile.</p></li>
</ul> 
<br /> <br /> 
<p class="bodytext" style="margin-left:10%;text-align:left;">The Zorro Administration team will review the information you provided when you signed up and will email you with either an approval/request for more information within 48 hours. To check the status of your application, sign in to your Zorro Merchant Account.
</p>
                        <p class="lead">
                            <div class="spacer"></div>
                            <button type="button" class="p-2 btn btn-dark" style="width:auto !important; padding-left:15px !important; padding-right:15px !important;" onclick="location.href='/Identity/Account/Register'">Become an eCommerce Partner</button>
                        </p>
                    </div>

                </section>

            </div>

            <div class="col-md-6 col-md-offset-4">


                <div class="spacer"></div>
                <div style="text-align:center;width:100%;height:100%;"><span style="display:inline-block;height:100%;vertical-align:middle;"></span><img style="vertical-align:middle !important;max-width:75% !important;" height="auto" id="homeview-img" alt="https://www.vecteezy.com/free-photos Free Stock photos by Vecteezy" src="~/images/StockImages/stockimage-cc-woman.jfif" /></div>

            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div id="home-container">
    <div class="inputbox">
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <div class="jumbotron">
                        <div class="spacer"></div>
                        <p class="lead">Intergrating with your website</p>
                        <hr class="my-4">
                        <p class="bodytext" style="margin-left:10%;text-align:left;">You can let your customers choose to pay with Zorro on your website. Review the payment options below, and sign in to your Zorro account and see the Merchants section for more information.<br /> <br /> 

<p class="bodytext" style="margin-left:10%;text-align:left;">In-app: Customer uses Zorro Wallet to pay in your application.
<br />  Web payment: Customer uses their browser to buy from your website, they will use their Zorro Wallet app to pay through a payment gateway after logging into their account to confirm transfer of funds.
</p>
                        <p class="lead">
                            <div class="spacer"></div>
                            <button type="button" class="p-2 btn btn-dark" style="width:auto !important; padding-left:15px !important; padding-right:15px !important;" onclick="location.href='/Identity/Account/Register'">Become an eCommerce Partner</button>
                        </p>
                    </div>

                </section>

            </div>

            <div class="col-md-6 col-md-offset-4">


                <div class="spacer"></div>
                <div style="text-align:center;width:100%;height:100%;"><span style="display:inline-block;height:100%;vertical-align:middle;"></span><img style="vertical-align:middle !important;max-width:75% !important;" height="auto" id="homeview-img" alt="https://www.vecteezy.com/free-photos Free Stock photos by Vecteezy" src="~/images/StockImages/stockimage-cc-woman.jfif" /></div>

            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>