<div id="home-container">
  <div class="inputbox">
        <div class="spacer"></div>
        <div class="row">
                <section>
                    <div class="jumbotron">
                        <div class="spacer"></div>
                        <header style="vertical-align:middle !important;max-width:75% !important;" height="auto" id="homeview-img">
                            <h1 class="display-4">Merchant Registration Success!</h1>
                            </header>
                        <hr class="my-4">
                       <p class="bodytext" style="margin-left:10%;text-align:left;">Our Team will be in contact once we have reviewed and approved your account<br/>
                    </div>
                </section>
            </div>
        <div class="spacer"></div>
   </div>
</div>
