@model Zorro.Dal.Models.Merchant

@{
    ViewData["Title"] = "Register Merchant";
}

<div class="spacer"></div>
<div class="center-block" style="display:flex;justify-content:center;" >
<div class="content-width">
    <div class="inputbox">

<h1>Merchant Registration</h1>

<h4>Register for merchant status below</h4>
<hr />
<form asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <h5>Business Details</h5>
    <div class="col-md-8">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="BusinessName" class="control-label">Registered Business Name *</label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="Abn" class="control-label">ABN / ACN *</label>
                <input asp-for="Abn" class="form-control" />
                <span asp-validation-for="Abn" class="text-danger"></span>
            </div>
    </div>
</div>
 <div class="row">
    <div class="col-md-8">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="TradingName" class="control-label">Trading Name</label>
                <input asp-for="TradingName" class="form-control" />
                <span asp-validation-for="TradingName" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
             <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="DateEstablished" class="control-label">Date Established *</label>
                <input asp-for="DateEstablished" class="form-control" />
                <span asp-validation-for="DateEstablished" class="text-danger"></span>
            </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-8">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="TradingAddress" class="control-label">Registered Trading Address *</label>
                <input asp-for="TradingAddress" class="form-control" />
                <span asp-validation-for="TradingAddress" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="CompanyPhone" class="control-label">Company Phone Number *</label>
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
    </div>
 </div>
 <div class="row">
    <hr />
    <h5>Director Details</h5>
 </div>
 <div class="row">
    <div class="col-md-6">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="FirstName" class="control-label">First Name *</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-6">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="LastName" class="control-label">Last Name *</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
    </div>
 </div>      
 <div class="row">
    <div class="col-md-6">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="ACCPosition" class="control-label">Position (Director/Manager/Owner) *</label>
                <input asp-for="ACCPosition" class="form-control" />
                <span asp-validation-for="ACCPosition" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-6">
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="DriversLicense" class="control-label">Drivers License Number *</label>
                <input asp-for="DriversLicense" class="form-control" />
                <span asp-validation-for="DriversLicense" class="text-danger"></span>
            </div>
    </div>
 </div>                
            <div class="row" style="position:relative;">
            <div class="form-group" >
                <div>
               <p class="lead">
                           
                            <button type="button" class="p-2 btn btn-dark" style="width:auto !important; padding-left:15px !important; padding-right:15px !important;" onclick="location.href='/Merchant'">Register</button>
                         <div class="spacer"></div>
                        </p>
                </div>
                <div style="position: absolute; bottom: 0;">
                 <a style="margin-left:20px;" asp-action="Index">Return to Dashboard</a>
                </div>
        
            </div>

        
    </div>
    </form>
</div>


</div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
